.main{
  display: flex;
  flex-direction: column;
}



.intro {
  height: 100vh;
  background: rgb(207,251,245);
  display: flex;
  overflow: hidden;
}

.intro .left {
  padding-top: 2px;
  flex: 0.4;
  overflow: hidden;
}

.intro .left .imgcontainer {
  width: 600px;
  height: 619px;
  background: rgb(217, 83, 223);
  background: radial-gradient(circle, rgba(217, 83, 223, 1) 0%, rgba(255, 0, 44, 1) 30%, rgba(38, 55, 162, 0.9780287114845938) 100%);
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.intro .left .imgcontainer img {
  padding:10px;
  position:relative;
  height: 599px;
  width: 580px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
}

.intro .right {
  flex: 0.6;
  position: relative;
  overflow: hidden;
}

.intro .right .wrapper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  position: relative;
}

.intro .right .wrapper h1 {
  font-weight: 900;
  font-size: 50px;
  margin: 0;
  color: rgba(152, 4, 85, 1);
}

.intro .right .wrapper h2 {
  font-size: 35px;
  margin: 0;
  color: rgb(195, 4, 109,1);
}

.intro .right .wrapper h4 {
  font-size: 25px;
  color: rgba(244, 6, 137, 0.905);
}

.intro .right .wrapper h3 {
  font-size: 25px;
  color: rgba(244, 6, 137, 0.905);
}

.intro .right a {
  position: absolute;
  bottom: 10px;
  left: 40%;
}
