.main{
  background-color:rgb(207,251,245) ;
}
.fade-up { 
    opacity: 1;
    background: rgba(152, 4, 85, 0.951);
   
  p{
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        display: flex;
        height: 40px;
        justify-content: center;
        text-align: center;
        color:rgb(246, 250, 249);
        font-weight:bold
        
    }
   
  }
  .Marquee{background-color: rgb(244, 212, 237); 
       bottom:0;
    height: 330px;
    
    img{
      margin: 5px;
      width: 300px;
      height: 260px;
      background-color: white;
      padding: 0px 0px 0px 0px;
      border-radius: 15px;
     
    }
  }
  .btwpost{
    margin: 5px;
  }
 .postcard {
  margin-left: 50px;
  border-radius: 15px;
  background: rgb(217,83,223);
  background: radial-gradient(circle, rgba(217,83,223,1) 0%, rgba(255,0,44,1) 30%, rgba(38,55,162,0.9780287114845938) 100%);;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin: 5px 0px 50px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Style for the images (you can customize this as needed) */
.postcard img {
  width: 300px; /* Adjust the image width as needed */
  height: 250px; /* Maintain the aspect ratio */
}

/* Style for the text below the images */
.postcard p {
  width: 280px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  padding: 2px;
  margin: 5px; /* Add space between image and text */
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: rgba(152, 4, 85, 0.951);
}

 .vertical-timeline-element-title{
  margin-bottom: 0px;
  color: rgba(152, 4, 85, 0.951);
 }
 .experience p {
  margin-top: 7px;
  color: rgba(100, 5, 57, 0.951);
 }
 .vertical-timeline-element--education{
  color: rgba(152, 4, 85, 1);
 }